@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}

<form asp-controller="Persons" asp-action="Index" method="get">
    <h1>Persons</h1>
    <a asp-controller="Persons" asp-action="Create" >Create Person</a>
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.SearchBy)
                    {
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    else
                    {
                        <option value="@field.Key">@field.Value</option>
                    }
                }
                @* searchBy=PersonName&searchString=abc *@
            </select>
        </div>

        <div class="flex-1">
            <input type="search" id="Search" class="form-input" placeholder="Search"
                   name="searchString" value="@ViewBag.SearchString" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back" type="submit">Search</button>
            <a href="~/persons/index" class="link-hover">Clear all</a>
        </div>
    </div>

    <table class="table w-100 mt persons">
        <thead>
            <tr>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                    {"ColumnName", nameof(PersonResponse.Name)},
                    {"DisplayName", "Person Name"}
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                    {"ColumnName", nameof(PersonResponse.Email)},
                    {"DisplayName", "Email"}
                })
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Address</th>
                <th>Receive News Letters</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td style="width: 15%">@person.Name</td>
                    <td style="width: 15%">@person.Email</td>
                    <td style="width: 10%">@person.DateOfBirth?.ToString("dd MM yyyy")</td>
                    <td style="width: 6%">@person.Age</td>
                    <td style="width: 10%">@person.Gender</td>
                    <td style="width: 14%">@person.Country</td>
                    <td style="width: 10%">@person.Address</td>
                    <td style="width: 4%">@person.ReceiveNewsLetters</td>
                    <td style="width: 8%"><a asp-controller="Persons" asp-action="Edit" asp-route-personID="@person.PersonID">Edit</a></td>
                    <td style="width: 8%"><a asp-controller="Persons" asp-action="Delete" asp-route-personID="@person.PersonID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>